In [1]:
# !pip install mlxtend

In [2]:
import pprint

import numpy as np
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [3]:
# with is used as good practise as it is house cleaner type of thing (Don't remember exact word)
data = []
with open('./categories.txt') as file_handler:  # In default open opens file in read mode

    for line in file_handler:
        splitted_line = line.strip('\n').split(';')  # .strip(..) returns string without \n so can perform split operation
        data.append(splitted_line)

pprint.pprint(data[:100])

[['Breakfast & Brunch', 'American (Traditional)', 'Restaurants'],
 ['Sandwiches', 'Restaurants'],
 ['Local Services', 'IT Services & Computer Repair'],
 ['Restaurants', 'Italian'],
 ['Food', 'Coffee & Tea'],
 ['Fast Food', 'Restaurants'],
 ['Mortgage Brokers', 'Home Services', 'Real Estate'],
 ['Brasseries', 'Restaurants'],
 ['Bars',
  'Sports Bars',
  'Nightlife',
  'American (New)',
  'Chicken Wings',
  'Restaurants'],
 ['Automotive',
  'Windshield Installation & Repair',
  'Auto Detailing',
  'Wheel & Rim Repair'],
 ['Automotive', 'Auto Parts & Supplies'],
 ['Food', 'Grocery', 'CSA', 'Farmers Market'],
 ['Specialty Schools', 'CPR Classes', 'First Aid Classes', 'Education'],
 ['Event Planning & Services', 'Venues & Event Spaces'],
 ['Shopping', 'Home Decor', 'Home & Garden', 'Furniture Stores'],
 ['Books, Mags, Music & Video', 'Shopping', 'Bookstores'],
 ['Auto Repair', 'Automotive'],
 ['Local Services', 'Dry Cleaning & Laundry'],
 ['Burgers', 'American (New)', 'Restaurants'],
 ['Pizza', 'Restaurants'],
 ['Massage', 'Beauty & Spas'],
 ['Food', 'Juice Bars & Smoothies'],
 ['Pizza', 'Restaurants'],
 ['Bars', 'Nightlife', 'Lounges'],
 ['Champagne Bars', 'Bars', 'Nightlife', 'Lounges'],
 ['Burgers', 'Restaurants'],
 ['Bars', 'American (Traditional)', 'Nightlife', 'Restaurants'],
 ['Photographers',
  'Session Photography',
  'Event Planning & Services',
  'Event Photography'],
 ['Shopping',
  'Drugstores',
  'Beauty & Spas',
  'Food',
  'Convenience Stores',
  'Cosmetics & Beauty Supply'],
 ['Active Life', 'Parks'],
 ['Food', 'Ice Cream & Frozen Yogurt'],
 ['Fast Food', 'Restaurants'],
 ['Hair Salons', 'Beauty & Spas'],
 ['Shopping', 'Doctors', 'Health & Medical', 'Eyewear & Opticians'],
 ['Shopping', 'Eyewear & Opticians'],
 ['Dermatologists',
  'Doctors',
  'Health & Medical',
  'Skin Care',
  'Beauty & Spas'],
 ['Local Services', 'Community Service/Non-Profit'],
 ['Arts & Entertainment', 'Art Galleries', 'Shopping'],
 ['Food', 'Coffee & Tea', 'Cafes', 'Restaurants'],
 ['Hair Salons', 'Barbers', "Men's Hair Salons", 'Beauty & Spas'],
 ['Hair Salons', 'Hair Extensions', 'Beauty & Spas', 'Blow Dry/Out Services'],
 ['Bakeries', 'Food', 'Desserts'],
 ['Car Wash', 'Automotive'],
 ['Hair Salons', 'Barbers', 'Hair Extensions', 'Beauty & Spas'],
 ['Hotels & Travel',
  'Arts & Entertainment',
  'Casinos',
  'Event Planning & Services',
  'Hotels'],
 ['Pizza', 'Restaurants'],
 ['Food', 'Bagels', 'Coffee & Tea', 'Sandwiches', 'Restaurants'],
 ['Hair Salons', 'Beauty & Spas'],
 ['Delis', 'Fast Food', 'Sandwiches', 'Restaurants'],
 ['Active Life', 'Yoga', 'Fitness & Instruction'],
 ['Videos & Video Game Rental',
  'Books, Mags, Music & Video',
  'Shopping',
  'Video Game Stores'],
 ['Beauty & Spas', 'Nail Salons'],
 ['Beauty & Spas', 'Nail Salons'],
 ['Department Stores', 'Fashion', 'Shopping'],
 ['Food', 'Ice Cream & Frozen Yogurt'],
 ['Portuguese', 'Restaurants'],
 ['Tanning', 'Spray Tanning', 'Beauty & Spas'],
 ['British', 'Restaurants'],
 ['Creperies', 'Restaurants'],
 ['Food', 'Ice Cream & Frozen Yogurt'],
 ['Bakeries', 'Food'],
 ['Department Stores', 'Fashion', 'Shopping'],
 ['American (New)', 'Restaurants'],
 ['Pizza', 'Restaurants'],
 ['Italian', 'Pizza', 'Restaurants'],
 ['Doctors', 'Health & Medical'],
 ['Shopping', 'Drugstores'],
 ['Chinese', 'Restaurants'],
 ['Skin Care', 'Hair Removal', 'Makeup Artists', 'Beauty & Spas'],
 ['Real Estate Agents', 'Real Estate Services', 'Home Services', 'Real Estate'],
 ['Arts & Crafts', 'Shopping', 'Fabric Stores', 'Home & Garden', 'Home Decor'],
 ["Women's Clothing", 'Fashion', 'Shopping'],
 ['Auto Repair', 'Automotive', 'Tires'],
 ['Restaurants', 'Italian'],
 ['Home Services', 'Contractors'],
 ['Nightlife', 'Dance Clubs'],
 ['Pet Stores',
  'Pet Services',
  'Aquariums',
  'Pets',
  'Active Life',
  'Aquarium Services'],
 ['Massage Therapy', 'Health & Medical'],
 ['Food', 'Beer, Wine & Spirits', 'Grocery'],
 ['Active Life', 'Yoga', 'Gyms', 'Trainers', 'Fitness & Instruction'],
 ['Fast Food', 'Restaurants'],
 ['Wine Bars', 'Bars', 'Restaurants', 'Nightlife', 'Italian'],
 ['Bakeries', 'Food', 'Coffee & Tea', 'Candy Stores', 'Specialty Food'],
 ['Food', 'Specialty Food', 'Meat Shops'],
 ['Food', 'Coffee & Tea', 'Sandwiches', 'Restaurants'],
 ['Buffets', 'Restaurants'],
 ['American (New)', 'Restaurants'],
 ['Active Life', 'Sports Clubs'],
 ['Italian', 'Pizza', 'Restaurants'],
 ['Food', 'Coffee & Tea'],
 ['Doctors', 'Health & Medical', 'Family Practice'],
 ['Steakhouses', 'Restaurants'],
 ['Active Life', 'Gyms', 'Fitness & Instruction'],
 ['Automotive', 'Marinas'],
 ['Tires', 'Automotive', 'Auto Repair'],
 ['Thai', 'Restaurants'],
 ['Mexican', 'Restaurants'],
 ['Active Life', 'Yoga', 'Fitness & Instruction'],
 ['Doctors', 'Medical Centers', 'Health & Medical'],
 ['Mexican', 'Restaurants']]

In [4]:
# Transforming categories two dimensional data into Transaction encoded dataframe

transaction_encoded = TransactionEncoder()

transaction_encoded_array = transaction_encoded.fit_transform(data)

df = pd.DataFrame(transaction_encoded_array, columns=transaction_encoded.columns_)
df.head()

,ATV Rentals/Tours,Accessories,Accountants,Active Life,Acupuncture,Adult,Adult Education,Adult Entertainment,Advertising,Afghan,...,Wine Bars,Wine Tasting Classes,Wine Tasting Room,Wine Tours,Wineries,Wok,Women's Clothing,Yelp Events,Yoga,Zoos
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77185 entries, 0 to 77184
Columns: 892 entries, ATV Rentals/Tours to Zoos
dtypes: bool(892)
memory usage: 65.7 MB

In [6]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True) # min_support is 0.01 as default value is 0.5 and it should be a value between 0 and 1, use_colnames=True uses the columns for the returning dataframe
frequent_itemsets.head() # support is between 0 and 1 and support is calculated as  transactions_where_item(s)_occur / total_transactions  so thats why ..

    support                  itemsets
0  0.040202             (Active Life)
1  0.020639          (American (New))
2  0.031301  (American (Traditional))
3  0.029423    (Arts & Entertainment)
4  0.022232             (Auto Repair)

In [7]:
frequent_itemsets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   support   101 non-null    float64
 1   itemsets  101 non-null    object
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [8]:
# length column
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda categories: len(categories))
frequent_itemsets

      support                                           itemsets  length
0    0.040202                                      (Active Life)       1
1    0.020639                                   (American (New))       1
2    0.031301                           (American (Traditional))       1
3    0.029423                             (Arts & Entertainment)       1
4    0.022232                                      (Auto Repair)       1
..        ...                                                ...     ...
96   0.010598                     (Sports Bars, Nightlife, Bars)       3
97   0.010028                  (Fast Food, Restaurants, Burgers)       3
98   0.010663    (Dentists, Health & Medical, General Dentistry)       3
99   0.018540  (Hotels, Hotels & Travel, Event Planning & Ser...       3
100  0.014744              (Shopping, Women's Clothing, Fashion)       3

[101 rows x 3 columns]

In [9]:
# Fixing support column so we can understand it and casting it as int
frequent_itemsets['support'] = len(df) * frequent_itemsets['support']  # As support is  transactions_where_item(s)_occur / total_transactions  so thats why multiplying with total_transactions
frequent_itemsets['support'] = frequent_itemsets['support'].astype(int)

frequent_itemsets

     support                                           itemsets  length
0       3103                                      (Active Life)       1
1       1593                                   (American (New))       1
2       2416                           (American (Traditional))       1
3       2271                             (Arts & Entertainment)       1
4       1716                                      (Auto Repair)       1
..       ...                                                ...     ...
96       818                     (Sports Bars, Nightlife, Bars)       3
97       774                  (Fast Food, Restaurants, Burgers)       3
98       823    (Dentists, Health & Medical, General Dentistry)       3
99      1430  (Hotels, Hotels & Travel, Event Planning & Ser...       3
100     1138              (Shopping, Women's Clothing, Fashion)       3

[101 rows x 3 columns]

In [10]:
# length 1 frequent itemsets
frequent_itemsets_len_1 = frequent_itemsets[ frequent_itemsets['length']==1 ]
frequent_itemsets_len_1

    support                     itemsets  length
0      3103                (Active Life)       1
1      1593             (American (New))       1
2      2416     (American (Traditional))       1
3      2271       (Arts & Entertainment)       1
4      1716                (Auto Repair)       1
5      4208                 (Automotive)       1
6      1115                   (Bakeries)       1
7      4328                       (Bars)       1
8      6583              (Beauty & Spas)       1
9      1369         (Breakfast & Brunch)       1
10     1774                    (Burgers)       1
11     1002                      (Cafes)       1
12     1629                    (Chinese)       1
13     2199               (Coffee & Tea)       1
14     1195                   (Dentists)       1
15     1694                    (Doctors)       1
16     2975  (Event Planning & Services)       1
17     3078                    (Fashion)       1
18     2851                  (Fast Food)       1
19      875         (Financial Services)       1
20     1442      (Fitness & Instruction)       1
21     9250                       (Food)       1
22      823          (General Dentistry)       1
23     1424                    (Grocery)       1
24     2091                (Hair Salons)       1
25     5120           (Health & Medical)       1
26     1586              (Home & Garden)       1
27     4785              (Home Services)       1
28     1430                     (Hotels)       1
29     2495            (Hotels & Travel)       1
30     1018  (Ice Cream & Frozen Yogurt)       1
31     1848                    (Italian)       1
32      848                   (Japanese)       1
33     3468             (Local Services)       1
34     2515                    (Mexican)       1
35     1667                (Nail Salons)       1
36     5088                  (Nightlife)       1
37      870               (Pet Services)       1
38     1497                       (Pets)       1
39     2657                      (Pizza)       1
40     1025      (Professional Services)       1
41      874                       (Pubs)       1
42     1424                (Real Estate)       1
43    25071                (Restaurants)       1
44     2364                 (Sandwiches)       1
45    11233                   (Shopping)       1
46     1150             (Specialty Food)       1
47      818                (Sports Bars)       1
48      798                 (Sushi Bars)       1
49     1138           (Women's Clothing)       1

In [15]:
# Removing length column as required and casting itemsets into string as its frozenset
frequent_itemsets_len_1.drop(columns='length', inplace=True)
frequent_itemsets_len_1['itemsets'] = frequent_itemsets_len_1['itemsets'].apply(lambda itemset: str(itemset))

frequent_itemsets_len_1

<ipython-input-15-6506958cde2a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frequent_itemsets_len_1['itemsets'] = frequent_itemsets_len_1['itemsets'].apply(lambda itemset: str(itemset))

    support                   itemsets
0      3103                Active Life
1      1593             American (New)
2      2416     American (Traditional)
3      2271       Arts & Entertainment
4      1716                Auto Repair
5      4208                 Automotive
6      1115                   Bakeries
7      4328                       Bars
8      6583              Beauty & Spas
9      1369         Breakfast & Brunch
10     1774                    Burgers
11     1002                      Cafes
12     1629                    Chinese
13     2199               Coffee & Tea
14     1195                   Dentists
15     1694                    Doctors
16     2975  Event Planning & Services
17     3078                    Fashion
18     2851                  Fast Food
19      875         Financial Services
20     1442      Fitness & Instruction
21     9250                       Food
22      823          General Dentistry
23     1424                    Grocery
24     2091                Hair Salons
25     5120           Health & Medical
26     1586              Home & Garden
27     4785              Home Services
28     1430                     Hotels
29     2495            Hotels & Travel
30     1018  Ice Cream & Frozen Yogurt
31     1848                    Italian
32      848                   Japanese
33     3468             Local Services
34     2515                    Mexican
35     1667                Nail Salons
36     5088                  Nightlife
37      870               Pet Services
38     1497                       Pets
39     2657                      Pizza
40     1025      Professional Services
41      874                       Pubs
42     1424                Real Estate
43    25071                Restaurants
44     2364                 Sandwiches
45    11233                   Shopping
46     1150             Specialty Food
47      818                Sports Bars
48      798                 Sushi Bars
49     1138           Women's Clothing

In [13]:
# Exporting frequent itemsets with length 1 as text file
frequent_itemsets_len_1.to_csv('./patterns.txt', index=None, header=None, sep=':')

In [18]:
# Removing length column as required and casting itemsets into ; separated string as its frozenset
frequent_itemsets.drop(columns='length', inplace=True)
frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(lambda itemset: ';'.join(itemset))

frequent_itemsets

     support                                          itemsets
0       3103                                       Active Life
1       1593                                    American (New)
2       2416                            American (Traditional)
3       2271                              Arts & Entertainment
4       1716                                       Auto Repair
..       ...                                               ...
96       818                        Sports Bars;Nightlife;Bars
97       774                     Fast Food;Restaurants;Burgers
98       823       Dentists;Health & Medical;General Dentistry
99      1430  Hotels;Hotels & Travel;Event Planning & Services
100     1138                 Shopping;Women's Clothing;Fashion

[101 rows x 2 columns]

In [20]:
# Exporting frequent itemsets as text file
frequent_itemsets.to_csv('./patterns-all.txt', index=None, header=None, sep=':')